@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none   ;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

div.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    background: #aab;
    padding: 8px 0;
}

div.logo {
    float: left;
    color: #33508d;
}

.logo h2 {
    font-size: 33px;
    font-weight: bold;
}

div.clear {
    clear: both;
}

form.form-login {
    float: right;
}

form.form-login div.form-element {
    display: inline-block;
    margin-right: 15px;
}

form.form-login div.form-element p {
    color: black;
    font-size: 14px;
}

form.form-login div.form-element input[type=email],
form.form-login div.form-element input[type=password] {
    margin-top: 5px;
    border: 0;
    padding: 3px;
    outline: none;
}

form.form-login div.form-element input[type=submit] {
    cursor: pointer;
    border: none;
    background-color: #3a6cd6;
    color: white;
    padding: 3px 5px;
}

form.form-login div.form-element input[type=submit] {
    background-color: #1f4ba6;
}

section.main {
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

div.img-pessoas {
    float: left;
    width: 60%;
}

div.img-pessoas img {
    max-width: 100%;
}

div.abrir-conta h2 {
    color: #333;
    font-size: 35px;
}

form.criar-conta {
    margin-top: 10px;
}

.w50 {
    width: 50%;
    padding: 5px 5px 0 0;
    float: left;
}

.w100 {
    width: 100%;
    padding: 5px 5px 0 0;
    float: left;
}

form.criar-conta input {
    width: 100%;
}

form.criar-conta input[type=email],
form.criar-conta input[type=text],
form.criar-conta input[type=password] {
    padding: 8px 10px;
    font-size: 18px;
    border: 1px solid #ccd0d5;
    border-radius: 15px;
    outline: none;
}

form.criar-conta input[type=submit] {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    color: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

form.criar-conta input[type=submit]:hover {
    background-color: #67ae55;
    background: linear-gradient(#81d66c, #75b85b);
}

form.criar-conta .input-radio {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0 0 15px 0;
}

form.criar-conta .input-radio label {
    display: inline-block;
    padding: 5px 5px 0 0;
}

form.criar-conta .input-radio input[type=radio] {
    width: auto !important;
    display: inline-block;
}

label {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
}

section.linguas {
    padding: 10px 0;
}

section.linguas nav ul li {
    display: inline-block;
}

section.linguas nav ul li a {
    color: #385898;
    font-size: 14px;
    padding-right: 10px;
}

section.linguas nav ul li a :hover {
    text-decoration: underline;
}

section.linguas nav ul li a.selected:hover {
    color: #737373;
    cursor: auto;
}

section.linguas nav ul li a.selected:hover {
    text-decoration: none;
}

section.linguas center {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.section.linguas .center:last-child {
    border: none;
    padding-top: 8px;
}

@media screem and (max-width:  786px) {
    .logo, form.form-login {
        width: 100%;
        text-align: center;
        float: none;
    }
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
}

.left-login > h1 {
    font-size: 3vw;
    color: #4E5DB5;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 30px 35px;
    background: #d2d6ee;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #4E5DB5;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #939BC7;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #4E5DB5;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #ffffff;
}

#error {
    color: 'red';
}

a {
    text-decoration: none;
    color: #4E5DB5;

}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #e2e6f1;
    background: #4E5DB5;
    cursor: pointer;
    box-shadow: 0px 10px 40px --12px #00ff8052;
}
